<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labelDescriptions</key>
	<array>
		<string>unidentified</string>
		<string>Dime</string>
	</array>
	<key>blobs</key>
	<array>
		<dict>
			<key>imageFilename</key>
			<string>l.png</string>
			<key>label</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>imageFilename</key>
			<string>l.png</string>
			<key>label</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
